.button {
  background-color: #fbeee0;
  border: 0.1rem solid #422800;
  border-radius: 1rem;
  box-shadow: #422800 0.2rem 0.2rem 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0 1.3rem;
  line-height: 3rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem;
  display: inline-block;
  min-width: 11rem;
}

@media screen and (max-width:1280px) {
  .button{
  padding: 0 0.1rem;
  margin: 0.3rem;
  font-size: 1.0rem;
  min-width: 9rem;

  }
}