header {
    background-color: #ffd998;
    display: flex;
    text-align: left;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 7vh;
}

.Title {
    /* width: 70%; */
    margin: auto;
}

@media screen and (max-width:1280px) {
    header{
        padding-left: 0;
        padding-right: 0;

    }

    .Title{
        font-size: 1.3rem;
    }
}
/* .Login {
    width: 20%;
} */