.InputWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    box-sizing: border-box;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0,0,0,.15);
    background: white;
    margin: 1.5rem auto;
    position: relative;
    height: 2.7rem;
    max-width: 90%;
    text-align: center;
}

.Input {
    text-align: left;
    color: #100e29;
    border: none;
    outline: none;
    padding: 0;
    flex: 0 0 auto;
    width: 75%;
    height: 100%;
    font-size: 1.3rem;
}

@media screen and (max-width: 1280px) {
    .InputWrap {
        width: 80%;
    }
}
