.ChatArea {
  padding: 0 1rem;
  display: block;
}

.OneChat {
  text-align: left;
}

.OneChat > .message {
  border-radius: 1rem;
  border-top-right-radius: 0;
}

.You {
  text-align: right;
}

.AI > .message {
  border-radius: 1rem;
  border-top-left-radius: 0;
  background-color: #f3c77e
}

.message {
  display: inline-block;
  background-color: #e37f3f;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
  line-height: 2.5rem;
}

.default {
  line-height: 2.5rem;
  min-width: 2rem;
  height: 2.5rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
}
