.WatchTogether {
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 35vh;
    margin: auto;
    margin-top: 3rem;
    position: relative;
}

.ShowArea{
    background-color:bisque;
    margin: auto;
    /* position: relative; */
}

.Empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Empty .content {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%); */
  }

iframe{
    margin: 1rem;
}

.InputArea{
    display: flex;
    bottom: 1rem;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    min-width: 100%; */
}

.YouTubeSearch{
    margin: auto;
}
.PasteClipboard{
    margin: auto;
}

.TwitterAndInput{
    position: relative;
    height: 7rem;
}

.widget{
    position: absolute;
    top: auto;
    bottom: auto;
}

.InputChat{
    position: relative;
    right: 1rem;
}


@media screen and (max-width: 1280px) {
    .WatchTogether {
        width: 100%;
    }
    iframe{
        margin: 0;
    }
}


